<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/customstyle.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <title>College Insider webApp build 2</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Insider b2, welcome back <%= id %></h1>
    <a href="/articles/new" class="btn btn-success">New Article</a>
    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h6 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <!-- <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a> -->
            <div class="limit">
                <%- article.sanitizedHtml %>
            </div>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
            <form action="/articles/<%= article.id %>?_method=DELETE" method="post">
              <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this article?')">Delete</button>
            </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>