<div class="form-group">
  <label for="title">Title</label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="author">Author</label>
  <input required value="<%= article.author %>" type="text" name="author" id="author" class="form-control">
</div>
<div class="form-group">
  <label for="author">Hashtags</label>
  <input required value="<%= article.hashtags %>" type="text" name="hashtags" id="hashtags" class="form-control">
</div>
<div class="form-group">
  <label for="createdAt">Date</label>
  <input required value="<%= article.createdAt %>" type="datetime-local" name="date" id="date" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea required name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea style='height: 25vmax' required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/adminview" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>