<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/customstyle.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="https://subject.hkugac.edu.hk/newsletter/images/logo.jpg">
  <title>College Insider</title>
  <style>
    /* Add styles for the landingload-overlay */
    .landingload-overlay {
      background-color: #ffffff;
      visibility: visible;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 9999;
      animation: slide-up 1s forwards;
    }
    /* Add styles for the logo-container when the page was directed from landingload.ejs */
    .landingload .logo-container {
      animation: slide-up 1s forwards;
    }
    /* Add keyframes for the slide-up animation */
    @keyframes slide-up {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
      }
    }
    /* Add keyframes for the slide-down animation */
    @keyframes slide-down {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    body.landingload-overlay {
        display: flow-root;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .logo-container {
        padding-top: 36vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .landingload-overlay img {
        max-width: 90%;
        max-height: 100%;
      }
      .loading-circle {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin-top: 20px;
      }
      @media (min-width: 576px) {
        .landingload-overlay img {
          max-width: 50%;
          max-height: 50%;
        }
        .loading-circle {
          margin-top: 20px;
        }
      }
      @media (min-width: 768px) {
        .landingload-overlay img {
          max-width: 40%;
          max-height: 40%;
        }
        .loading-circle {
          margin-top: 20px;
        }
      }
      @media (min-width: 992px) {
        .landingload-overlay img {
          max-width: 30%;
          max-height: 30%;
        }
        .loading-circle {
          margin-top: 20px;
        }
      }
      @media (min-width: 1200px) {
        .landingload-overlay img {
          max-width: 20%;
          max-height: 20%;
        }
        .loading-circle {
          margin-top: 20px;
        }
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  </style>

</head>
<body>
  <% if (shouldShowOverlay) { %>
    <div class="landingload-overlay">
      <div class="logo-container landingload">
        <img
          src="https://subject.hkugac.edu.hk/newsletter/images/just%20shooting%20v2.gif"
          alt="College Insider logo"
        />
        <div class="loading-circle"></div>
      </div>
    </div>
  <% } %>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/home?type=Both">HKUGAC College Insider <img src="https://subject.hkugac.edu.hk/newsletter/images/logo.jpg" alt="UGAC LOGO" height=30mvw></a>
  </nav>
  <div id="pull-to-refresh" class="transition">
    <div class="icon">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="message">
      Pull to refresh
      <img src="/cdn/loadingdots" alt="loadingImage">
    </div>
  </div>
  <div class="container">
    <p></p>
    <img src="https://subject.hkugac.edu.hk/newsletter/images/just%20shooting%20v2.gif" alt="College Insider Logo" height=90mvhw>
    <p></p>

    <div class="input-group">
      <input type="search" id="search" class="form-control rounded" placeholder="🔎 Search the latest 50 uploads! " aria-label="Search" aria-describedby="search-addon" />
    </div>

    <form action="/" method="GET">
      <div class="form-group">
        <label for="type"><svg width="1.7em" height="1.7em" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Filter"> <path id="Vector" d="M20 5.6001C20 5.04005 19.9996 4.75981 19.8906 4.5459C19.7948 4.35774 19.6423 4.20487 19.4542 4.10899C19.2403 4 18.9597 4 18.3996 4H5.59961C5.03956 4 4.75981 4 4.5459 4.10899C4.35774 4.20487 4.20487 4.35774 4.10899 4.5459C4 4.75981 4 5.04005 4 5.6001V6.33736C4 6.58195 4 6.70433 4.02763 6.81942C4.05213 6.92146 4.09263 7.01893 4.14746 7.1084C4.20928 7.20928 4.29591 7.29591 4.46875 7.46875L9.53149 12.5315C9.70443 12.7044 9.79044 12.7904 9.85228 12.8914C9.90711 12.9808 9.94816 13.0786 9.97266 13.1807C10 13.2946 10 13.4155 10 13.6552V18.411C10 19.2682 10 19.6971 10.1805 19.9552C10.3382 20.1806 10.5814 20.331 10.8535 20.3712C11.1651 20.4172 11.5487 20.2257 12.3154 19.8424L13.1154 19.4424C13.4365 19.2819 13.5966 19.2013 13.7139 19.0815C13.8176 18.9756 13.897 18.8485 13.9453 18.7084C14 18.5499 14 18.37 14 18.011V13.6626C14 13.418 14 13.2958 14.0276 13.1807C14.0521 13.0786 14.0926 12.9808 14.1475 12.8914C14.2089 12.7911 14.2947 12.7053 14.4653 12.5347L14.4688 12.5315L19.5315 7.46875C19.7044 7.2958 19.7904 7.20932 19.8523 7.1084C19.9071 7.01893 19.9482 6.92146 19.9727 6.81942C20 6.70551 20 6.58444 20 6.3448V5.6001Z" stroke="#000000" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>Filter by Type:</label>
        <select name="type" id="type" class="form-control">
          <% let type = req.query.type || 'Both'; %>
          <option value="Both" <%= type === 'Both' ? 'selected' : '' %>>Both</option>
          <option value="Chinese" <%= type === 'Chinese' ? 'selected' : '' %>>Chinese</option>
          <option value="English" <%= type === 'English' ? 'selected' : '' %>>English</option>
        </select>
      </div>

    </form>
    <div id="article-container">
      <% function getImageUrl(sanitizedHtml) {
        const regex = /<img.*?src="(.*?)"/;
        const match = regex.exec(sanitizedHtml);
        if (match) {
          return match[1];
        }
        return '';
      } %>
      <% function decodeUnicode(str) {
        return str.replace(/\\u([a-fA-F0-9]{4})/g, function (match, p1) {
          return String.fromCharCode(parseInt(p1, 16));
        });
      } %>
      <% articles.forEach(article => { 
        if (req.query.type === 'Both' || article.type === req.query.type) {%>
        <div class="card mt-4">
          <div class="card-body" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.96),rgba(255, 255, 255, 0.86), rgba(255, 255, 255, 0.7)), url('<%= getImageUrl(article.sanitizedHtml) %>'); background-size: cover; background-repeat: no-repeat; background-size: 100% fit;">
            <h6 class="card-title"><%= decodeUnicode(article.title) %></h6>
            <div class="container">
              <div class="text-muted mb-2">
                <%= article.createdAt.toLocaleDateString() %> - <%= article.author %> <%= article.hashtags %>
              </div>
              <div class="card-text mb-2"><%= article.description %></div>
              <a href="articles/<%= article.slug %>" class="btn btn-secondary">Read More</a>
            </div>
          </div>
        </div>
      <% }}); %>
    </div>
  </div>
  <p><br><br></p>
  <%- include('_footer') %>

</body>
<script>  

const queryParams = new URLSearchParams(window.location.search);


  function getImageUrl(sanitizedHtml) {
    const regex = /<img.*?src="(.*?)"/;
    const match = regex.exec(sanitizedHtml);
    if (match) {
      return match[1];
    }
    return '';
  }

  function decodeUnicode(str) {
    return str.replace(/\\u[\dA-F]{4}/gi, function(match) {
      return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));
    });
  }
  const minTimeBetweenRefreshes = 5000;
  let lastRefreshTime = 0;
  let isRefreshing = false;
  let startY = 0;
  let endY = 0;

  
  const typeSelect = document.getElementById('type');

// Add an event listener to the select element that listens for the change event
typeSelect.addEventListener('change', () => {
  queryParams.set('type', typeSelect.value);
  queryParams.set('landing', 'false'); // Set the landing parameter to false
  window.history.replaceState({}, '', `/home?${queryParams.toString()}`);
  location.reload();
});



function refresh() {
  var refreshElement = document.getElementById('pull-to-refresh');
  refreshElement.classList.add('refreshing');
  setTimeout(function() {
    queryParams.set('landing', 'false'); // Set the landing parameter to false
    window.history.replaceState({}, '', `/home?${queryParams.toString()}`); // Reload the page to the /home path
    location.reload();
    window.scrollTo(0, 0);
    lastRefreshTime = new Date().getTime();
    isRefreshing = false;
    refreshElement.classList.remove('refreshing');
  }, 1000);
}

document.addEventListener('touchstart', function(e) {
  startY = e.touches[0].clientY;
});

document.addEventListener('touchmove', function(e) {
  endY = e.touches[0].clientY;

  if (endY > startY) {
    var distance = endY - startY;
    var scrollPosition = window.pageYOffset;

    if (distance > 30 && scrollPosition == 0 && !isRefreshing) {
      var currentTime = new Date().getTime();
      var timeSinceLastRefresh = currentTime - lastRefreshTime;
      var minTimeBetweenRefreshes = 100;

      if (timeSinceLastRefresh > minTimeBetweenRefreshes) {
        isRefreshing = true;
        refresh();
      }
    }
  }
});
const searchInput = document.getElementById('search');
const articles = document.querySelectorAll('.card');

searchInput.addEventListener('input', () => {
  const searchQuery = searchInput.value.toLowerCase();

  articles.forEach(article => {
    const title = article.querySelector('.card-title').textContent.toLowerCase();
    const content = article.querySelector('.card-text').textContent.toLowerCase();
    const hashtags = article.querySelector('.text-muted').textContent.toLowerCase();

    if (title.includes(searchQuery) || content.includes(searchQuery) || hashtags.includes(searchQuery)) {
      article.style.display = 'block';
    } else {
      article.style.display = 'none';
    }
  });
});
</script>
</html>