<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/customstyle.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="https://subject.hkugac.edu.hk/newsletter/images/logo.jpg">
  <title>College Insider</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">HKUGAC College Insider <img src="https://subject.hkugac.edu.hk/newsletter/images/logo.jpg" alt="UGAC LOGO" height=30mvw></a>
  </nav>
  <div id="pull-to-refresh" class="transition">
    <div class="icon">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="message">
      Pull to refresh
      <img src="/cdn/loadingdots" alt="loadingImage">
    </div>
  </div>
  <div class="container">
    <p></p>
    <img src="https://subject.hkugac.edu.hk/newsletter/images/just%20shooting%20v2.gif" alt="College Insider Logo" height=90mvhw>
    <p></p>
    <!-- <h1 class="mb-4">College Insider 2.0</h1> -->
    <!-- <a href="/articles/new" class="btn btn-success">New Article</a> -->
    <!-- <a href="/login" class="btn btn-success button">Login</a> -->
    <p></p>
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search is coming soon." aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <% articles.forEach(article => {
      // Extract the URL of the first image in the article
      let imageUrl = '';
      const regex = /<img.*?src="(.*?)"/;
      const match = regex.exec(article.sanitizedHtml);
      if (match) {
        imageUrl = match[1];
      }
      // Convert the Unicode characters in the title to their original form
      article.title = article.title.replace(/\\u[\dA-F]{4}/gi, function(match) {
        return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));
      });
    %>
      <div class="card mt-4">
        <div class="card-body" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.96),rgba(255, 255, 255, 0.86), rgba(255, 255, 255, 0.7)), url('<%= imageUrl %>'); background-size: cover; background-repeat: no-repeat; background-size: 100% fit;">
          <h6 class="card-title"><%= article.title %></h6>
          <div class="container">
            <div class="text-muted mb-2">
              <%= article.createdAt.toLocaleDateString() %> - <%= article.author %> <%= article.hashtags %>
            </div>
            <div class="card-text mb-2"><%= article.description %></div>
            <a href="articles/<%= article.slug %>" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>
    <% }) %>

  </div>
  <p><br><br></p>
  <%- include('_footer') %>
</body>
<script>
var startY, endY;
var lastRefreshTime = 0;
var isRefreshing = false;

function refresh() {
  var refreshElement = document.getElementById('pull-to-refresh');
  refreshElement.classList.add('refreshing');
  setTimeout(function() {
    location.reload();
    window.scrollTo(0, 0);
    lastRefreshTime = new Date().getTime();
    isRefreshing = false;
    refreshElement.classList.remove('refreshing');
  }, 1000);
}

document.addEventListener('touchstart', function(e) {
  startY = e.touches[0].clientY;
});

document.addEventListener('touchmove', function(e) {
  endY = e.touches[0].clientY;

  if (endY > startY) {
    var distance = endY - startY;
    var scrollPosition = window.pageYOffset;

    if (distance > 30 && scrollPosition == 0 && !isRefreshing) {
      var currentTime = new Date().getTime();
      var timeSinceLastRefresh = currentTime - lastRefreshTime;
      var minTimeBetweenRefreshes = 5000;

      if (timeSinceLastRefresh > minTimeBetweenRefreshes) {
        isRefreshing = true;
        refresh();
      }
    }
  }
});
</script>
</html>