<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/customstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <title>College Insider webApp build 2</title>
</head>
<body>
  <div class="container">
    <p></p>
    <h1 class="mb-4">College Insider 2.0</h1>
    <!-- <a href="/articles/new" class="btn btn-success">New Article</a> -->
    <a href="/login" class="btn btn-success button">Login</a>
    <p></p>
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search is coming soon." aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <% articles.forEach(article => { %>
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title"><%= article.title %></h4>
            <div class="container">
            <div class="text-muted mb-2">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2"><%= article.description %></div>
            <p></p>
            <a href="articles/<%= article.slug %>" class="btn btn-secondary">Read More</a>
            <!-- <a href="/" class="btn btn-secondary">All Articles</a> -->
            <!-- <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a> -->
            <!-- <div class="limit">
              <%- article.sanitizedHtml %>
            </div> -->
          </div>
        </div>
    <% }) %>

  </div>
  <p></p>
</body>
</html>