<div id="article-container">
	<% function getImageUrl(sanitizedHtml) { const regex = /<img.*?src="(.*?)"/; const match = regex.exec(sanitizedHtml); if (match) { return match[1]; } return ''; } %> <% articles.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)).forEach(article =>{%>
	<div class="card mt-0">
		<div class="card-body">
			<h6 class="card-title"><%= Buffer.from(article.title, "base64").toString() %></h6>
			<div class="card-container">
				<div class="text-muted mb-2"><%= article.hashtags %></div>
				<p></p>
				<div class="card-text mb-2"><%= article.description %></div>
				<p>Content Type: <%= article.contentType || 'article' %></p>
				<p>Upvotes: <%= article.userUpvoteCount || 0 %></p>
				<a href="articles/<%= article.slug %>" class="btn btn-secondary">Read More</a>
				<a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
				<form action="/articles/<%= article.id %>?_method=DELETE" method="post">
					<button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this article?')">Delete</button>
				</form>
				<span class="text-muted"><%= article.createdAt.toLocaleDateString() %> </span>
			</div>
		</div>
	</div>
	<% }); %>
</div>
